html
    head
        title="pug page"
    body
        h3="PRODUCTOS"
            ul(
                style={'display':'flex', 'justify-content':'space-around'}
            )
              each prod in products
                    li(
                        style={'display':'grid',
                                'margin':'1em',
                                'justify-content':'space-between',
                                }
                    )
                        h4=prod.tittle
                        img(
                            src=prod.thumbail   
                            style={'max-width':'6em'}
                            )
                        h5(
                            style={
                            'font-weight': '700'
                                }
                        )!=prod.price 